<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <div class="topnav">
        <a  th:if="${@userContextHolder.getUserLoggedIn()}"  href="/categories">Kategorie</a>
        <a th:if="!${@userContextHolder.getUserLoggedIn()}" href="/registration">Rejestracja</a>
        <a th:if="${@userContextHolder.getUserLoggedIn()}" href="/products">Produkty</a>
        <a th:if="!${@userContextHolder.getUserLoggedIn()}" href="/login">Login</a>
        <a th:if="${@userContextHolder.getUserLoggedIn()}" href="/logout" style="float: right;color: white">Wyloguj</a>
        <p style="color: white;float: right"
           th:if="${@userContextHolder.getUserLoggedIn()}"
           th:text="${@userContextHolder.getUserLoggedIn()}"></p>
        <div style="float: right" id="openweathermap-widget">
            <link href="//openweathermap.org/themes/openweathermap/assets/vendor/owm/css/openweathermap-widget-right.min.css"
                  rel="stylesheet">
            <div class="widget-right widget-right--type4 widget-right--brown">
                <div class="widget-right__layout widget-right__layout--brown">
                    <div class="widget-right-card">
                        <div class="widget-right__title"></div>
                        <div class="widget-right__description"></div>
                    </div>
                    <img id="weather-image" src=""
                         width="100"
                         class="weather-right__icon weather-right__icon--type4 weather-right__icon--brown">
                    <table class="weather-right-card">
                        <tbody>
                        <tr class="weather-right-card__items">
                            <td class="weather-right-card__item weather-right-card__temperature-min">
                                min<span>°C</span></td>
                            <td class="weather-right-card__item weather-right-card__temperature-max">
                                max<span>°C</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p style="float: right;color: white" id="weather"></p>
    </div>
    <!--<div style="float: right" id="cartWidget">-->
    <!--TWÓJ KOSZYK:-->
    <!--<ul id="orderItems">-->
    <!--<span id="toReplace"></span>-->
    <!--</ul>-->
    <!--</div>-->
</div>
</body>
</html>